{% extends "frontend/page.html" %}

{% block page_title %}Legal Disclaimer{% endblock %}

{% block page_content %}

    <p>Since I live and publish in Germany, I have to do this to comply with German legislation:</p>

    <p>
        Jesco Freund<br>
        Dinkelweg 36<br>
        21641 Apensen<br>
        Germany
    </p>
    <p>
        Phone: +49 4167 6993424<br>
        Email: mail (at) stormrose (dot) org
    </p>
    <p>Verantwortlicher im Sinne von § 55 Abs. 2 RStV:<br>
        Jesco Freund (Anschrift wie oben)</p>

    <p class="small">
        Einer Verwendung der oben gemachten Angaben zu einem anderen Zweck als den der Kontaktaufnahme bezüglich dieser
        Internetseiten wird ausdrücklich nicht zugestimmt. Insbesondere der dauerhaften Speicherung dieser Daten sowie
        ihrer Verwendung zu Werbezwecken oder sonstigen nicht ausdrücklich autorisierten Zwecken wird aufs schärfste
        widersprochen. Zuwiderhandlungen gegen diese Bestimmungen werden im Rahmen der zivil- und strafrechtlichen
        Möglichkeiten geahndet.
    </p>

{% endblock %}