{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <title>Stormrose Hub</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static "assets/css/stormrose.min.css" %}">
        <link rel="stylesheet" href="{% static "assets/css/font-awesome.min.css" %}">
        <link rel="icon" href="{% static "assets/img/favicon.png" %}">
    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
            <a class="navbar-brand" href="{% url 'index:index' %}">
                <img src="{% static "assets/img/Logo_White.png" %}" height="30" class="d-inline-block align-top" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarMain">
                <ul class="navbar-nav ml-auto">
                    {% include "frontend/menu.html" %}
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user"></i> My Profile
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownProfile">
                                <a class="dropdown-item" href="#">Edit My Profile</a>
                                {% if user.is_staff %}
                                <a class="dropdown-item" href="{% url 'dashboard:index' %}" target="_blank">Dashboard</a>
                                <a class="dropdown-item" href="{% url 'admin:index' %}" target="_blank">Admin</a>
                                {% endif %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'profile:logout' %}?target={{ request.path }}">Logout</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="#" onclick="$('#loginModal').modal('show')"><i class="fa fa-lock"></i> Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <main role="main">
        {% block main_content %}{% endblock %}
        </main>

        <div class="modal" tabindex="-1" role="dialog" id="loginModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Log In</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" name="username" id="username" aria-describedby="usernameHelp" placeholder="Enter username">

                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button href="#" class="btn btn-secondary">Register</button>
                            <input type="submit" class="btn btn-primary" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <footer class="container">
            <p class="font-weight-light small">
                &copy; {% now 'Y' %} Jesco &ldquo;daemotron&rdquo; Freund.
                Stormrose is a virtual flying group based on <a href="http://www.fseconomy.net/">FSEconomy</a>.
                It is no real world business, but only a leisure time project.
                <a href="{% url 'pages:legal' %}">Legal Disclaimer</a> |
                <a href="{% url 'pages:privacy' %}">Privacy Policy</a>
            </p>
        </footer>

        <script src="{% static "assets/js/jquery.min.js" %}"></script>
        <script src="{% static "assets/js/popper.min.js" %}"></script>
        <script src="{% static "assets/js/bootstrap.min.js" %}"></script>
    </body>

</html>
