{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <title>Stormrose Hub</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static "assets/css/stormrose.min.css" %}">
        <link rel="stylesheet" href="{% static "assets/css/font-awesome.min.css" %}">
        <link rel="icon" href="{% static "assets/img/favicon.png" %}">
    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
            <a class="navbar-brand" href="{% url 'pages:index' %}">
                <img src="{% static "assets/img/Logo_White.png" %}" height="30" class="d-inline-block align-top" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarMain">
                <ul class="navbar-nav ml-auto">
                    {% include "frontend/menu.html" %}
                </ul>
            </div>
        </nav>

        <main role="main">
        {% block main_content %}{% endblock %}
        </main>

        <footer class="container">
            <p class="font-weight-light small">
                &copy; {% now 'Y' %} Jesco &ldquo;daemotron&rdquo; Freund.
                Stormrose is a virtual flying group based on <a href="http://www.fseconomy.net/">FSEconomy</a>.
                It is no real world business, but only a leisure time project.
                <a href="{% url 'pages:legal' %}">Legal Disclaimer</a> |
                <a href="{% url 'pages:privacy' %}">Privacy Policy</a>
            </p>
        </footer>

        <script src="{% static "assets/js/jquery.min.js" %}"></script>
        <script src="{% static "assets/js/popper.min.js" %}"></script>
        <script src="{% static "assets/js/bootstrap.min.js" %}"></script>
    </body>

</html>
